body {
  display: grid;
  place-items: center;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid green;
  padding: 10px;
}

.nav-bar {
  display: flex;
}

.nav-button {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 15px 20px 10px 20px;
  height: 50%;
  align-self: center;
  margin-left: 20px;
  text-decoration: none;
}

.user {
  display: flex;
  padding-right: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
}

.articleCard {
  width: 100%;
  height: 20%;
  border: 2px solid purple;
}

img {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
  border-radius: 3%;
}

ul {
  list-style: none;
  padding: 10px;
  margin-top: 4px;
}

.topic {
  display: flex;
  border: 2px solid orange;
  border-radius: 3%;
  margin-bottom: 10px;
  padding: 3px;
}

h3 {
  margin-bottom: 10px;
}

.article {
  display: flex;
  flex-direction: column;
}

.articleDetails {
  display: flex;
  justify-content: space-between;
  margin: 0px 8px;
}

.articleBody {
  font-size: 24px;
  padding: 20px 50px;
}

.articleImg {
  align-self: center;
  border: 2px solid gold;
}

h1 {
  justify-self: center;
  font-size: 42px;
  text-align: center;
  border: 2px solid grey;
}

.date {
  grid-column: 3;
}

.flexbox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid blue;
}

.flexbox-item {
  border: 2px solid lightcoral;
}

.comment-body {
  display: flex;
  justify-content: space-between;
  margin: 1px 8px;
}

.comment-button {
  height: 50%;
  margin-top: 5px;
}

.commentDetails {
  display: flex;
  justify-content: space-between;
  margin: 0px 8px;
}

.vote {
  display: flex;
}

.voteTag {
  margin-right: 10px;
}

.buttonClicked {
  background-color: rgba(1, 255, 1, 0.664);
}

.form {
  display: flex;
  flex-direction: column;
  border: 2px solid orange;
  padding: 8px;
}

.comment-submit {
  width: 15%;
  margin-top: 8px;
  padding: 6px;
}

.sort-by {
  padding: 5px;
  margin-top: 10px;
}

.sort-by-box {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.sort-by-items {
  display: flex;
  border: 1px dotted grey;
  width: 40%;
  padding-left: 10px;
}

.sort-by-button {
  padding: 5px;
  margin: 10px 5px;
  height: 75%;
  border: none;
}

.article-nav {
  display: flex;
  justify-content: space-between;
}

.article-nav-button {
  padding: 10px;
  margin: 0px 10px;
}

.loading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-text {
  text-align: center;
  align-self: center;
  font-size: 28px;
}
